rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /bali_img/{allPaths=**} {
      allow read, list: if true;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
